:root {
    --dark-text: rgb(53, 53, 67);
    --light-text: white;
    --grey-text:rgb(119, 119, 119);
    --hover-link: rgb(45, 109, 212);
    --background-col: #E1EEDD;
    --shadow-col:#F0A04B;
}

body{
    background-color: var(--background-col);
    margin:0;
    /* font-family: 'Rubik', sans-serif; */
    font-family: monospace;
    font-size: 14px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.header{
    margin-bottom:10rem;
}
.footer{
    background-color: #183A1D;
    color:#FEFBE9;
    display:flex;
    align-items: center;
    position:absolute;
    bottom:0;
    gap:10px;
    justify-content: center;
    width:100%;
}
#github-logo{
    width:18px;
    height:18px;
}
.gameboard{
    display:grid;
    width:auto;
    height:auto;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    justify-items: center;
}
.gamesquare{
    width:50px;
    height:50px;
    background-color:orange;
    margin:4px;
}